<h1 style="font-size:15px">File information</h1>
<p id="f_id">ID: ({{file_id}}/{{file_count}})</p>
<p id="f_hash">Hash: {{file_hash}}</p>
<p>Permalink: <span style="color:var(--accent)">{{url}}/{{player_url}}/ + Hash</span></p>
