<!DOCTYPE html>
<html lang="en">
<head>
{{#if error}}	
    <title>Error: {{error_title}}</title>
    <meta name="description" content="{{error_message}}">
{{else}}
    <title>{{title}}</title>
    <meta name="description" content="Welcome to the wired.">
{{/if}}
    <link rel="shortcut icon" type="image/x-icon" href="../../static/images/wired.gif">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="revisit-after" content="5-days">
    <meta name="robots" content="noindex,nofollow,noarchive">
    <meta name="theme-color" content="#D2738A">
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="one-half column">
		{{{body}}}
	    </div>
        </div>
    </div>
</body>
</html>
