            <marquee behavior="scroll" direction="left"><p id="f">Currently playing: <span style="color:var(--username)">{{file_name}}</span></p></marquee>
            <div class="header-title">
            <img class="header-image" src="../../static/images/profile.jpg">
        </div>
	    <audio id="s"><source src="../../{{api_url}}/{{file_id}}" type="{{file_mime}}"></audio>
        <div style="text-align:center">
            <i class="fa fa-backward" onclick="b()"></i>
            <i class="fa fa-play" onclick="d()" id="p" style="color:var(--accent)"></i>
            <i class="fa fa-forward" onclick="a()"></i>
        </div>
        <hr/>
        <br>
        <p style="text-align:center">© 2018 wired.sh</p>
        <hr>
        <br>
        <h1 style="font-size:15px">File information</h1>
        <p id="f_id">ID: ({{file_id}}/{{file_count}})</p>
        <p id="f_hash">Hash: {{file_hash}}</p>
	    <p>Permalink: <span style="color:var(--accent)">{{url}}/{{player_url}}/ + Hash</span></p>
	    <script type="text/javascript">let f_len={{file_count}},b_url="../../{{api_url}}/",c_id={{file_id}},f=document.getElementById("f"),s=document.getElementById("s"),p=document.getElementById("p"),f_id=document.getElementById("f_id"),f_hash=document.getElementById("f_hash");function a(){c_id++;c_id>f_len&&(c_id=1);s.src=b_url+c_id;c();d();history.pushState(null,"",c_id)}function b(){c_id--;1>c_id&&(c_id=f_len);s.src=b_url+c_id;c();d();history.pushState(null,"",c_id)}function c(){let g=new XMLHttpRequest;g.onreadystatechange=function(){let i=JSON.parse(g.responseText);document.title=i.file;f.innerHTML='Currently playing: <span style="color:var(--username)">'+i.file+"</span>";f_id.innerText="ID: ("+c_id+"/"+f_len+")";f_hash.innerText="Hash: "+i.hash;};g.open("GET",b_url+c_id+"/info/");g.send()}function d(){return s.paused?s.play()&&e("fa fa-pause"):s.pause()&e("fa fa-play")}function e(g){p.className=g}s.onended=function(){a()};</script>
